* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Fira Sans", sans-serif;
}

@font-face {
  font-family: funcitylevel2stencil;
  src: url(multimedia/FunCityLevel2Stencil.otf);
}

.container {
  width: 100%;
  max-width: 1600px;
  margin: 0 auto;
  padding-left: 128px;
  padding-right: 128px;
}

@media (max-width: 1024px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

@media (max-width: 767px) {
  .container {
    padding-left: 32px;
    padding-right: 32px;
  }
}

.camba-dev__titulo {
  font-family: funcitylevel2stencil;
  font-size: 35px;
  font-weight: 700;
}

@media (max-width: 767px) {
  .camba-dev__titulo {
    font-size: 30px;
    font-weight: 700;
  }
}

.titulo {
  text-align: center;
  padding-top: 32px;
  padding-bottom: 32px;
  text-transform: uppercase;
  color: #1b1a1a;
  font-size: 36px;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 25px;
  }
}

.servi_img {
  display: block;
  width: 100%;
  max-height: 140px;
  -o-object-fit: cover;
     object-fit: cover;
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
  border-bottom: solid #69d6ff;
}

.banner {
  color: #fff;
  position: relative;
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-image: url("../css/multimedia/portada3.jpg");
  background-position: top center;
  background-size: cover;
}

.banner:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  background-color: #0544cf;
  opacity: 0.8;
}

.banner .container {
  position: relative;
  z-index: 1;
}

.banner .container h1 {
  font-size: 72px;
  margin-bottom: 32px;
}

.banner .container h1 span {
  color: #0eb0cf;
}

@media (max-width: 767px) {
  .banner .container h1 {
    font-size: 32px;
  }
}

.banner .container h3 {
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .banner .container h3 {
    font-size: 20px;
  }
}

header {
  color: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}

header .logo_img {
  height: 2.5em;
  width: 10em;
}

header .container {
  padding-top: 10px;
  padding-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .container h2 {
  color: inherit;
  text-transform: uppercase;
  font-size: 32px;
  font-weight: 900;
}

header .container h2 span {
  font-weight: 600;
}

header .container nav {
  display: -ms-grid;
  display: grid;
  grid-gap: 16px;
  -ms-grid-columns: (auto)[2];
      grid-template-columns: repeat(2, auto);
}

@media (max-width: 767px) {
  header .container nav {
    display: none;
  }
}

header .container nav a {
  font-family: funcitylevel2stencil;
  color: #fff;
  font-size: 18px;
  text-decoration: none;
}

header.is-scrolling {
  background-color: #0544cf;
}

header.is-scrolling .container {
  padding-top: 16px;
  padding-bottom: 16px;
}

.tecnologia {
  background-color: #e6e7eb;
  padding-bottom: 50px;
}

.tecnologia .tecno {
  max-width: 100%;
  border: solid #1b1a1a;
  display: -ms-grid;
  display: grid;
  border-radius: 10px;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
}

@media (max-width: 767px) {
  .tecnologia .tecno {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.tecnologia .tecno .tecno_uno {
  padding-top: 30px;
  padding-left: 30px;
  border-radius: 10px;
  font-size: 28px;
  font-weight: 500;
  text-transform: uppercase;
}

.tecnologia .tecno .tecno_uno .lista-grid {
  font-size: 25px;
  padding-top: 10px;
  padding-left: 50px;
}

@media (min-width: 768px) and (max-width: 768px) {
  .tecnologia .tecno .tecno_uno {
    font-size: 20px;
    padding-top: 10px;
    padding-left: 16px;
  }
  .tecnologia .tecno .tecno_uno .lista-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    padding-left: 16px;
    font-size: 18px;
  }
}

@media (max-width: 767px) {
  .tecnologia .tecno .tecno_uno {
    padding: 16px;
    font-size: 15px;
  }
  .tecnologia .tecno .tecno_uno .lista-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    padding-top: 10px;
    padding-left: 16px;
    font-size: 15px;
  }
}

.tecnologia .tecno .tecno_dos {
  border-radius: 10px;
}

.tecnologia .tecno .tecno_dos .tecno_dos_img {
  display: block;
  height: 100%;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 7px;
}

.servicios {
  background-color: whitesmoke;
  padding-bottom: 40px;
  font-size: 20px;
}

.servicios .servicios-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px;
}

@media (min-width: 768px) and (max-width: 768px) {
  .servicios .servicios-grid {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    font-size: 19px;
  }
  .servicios .servicios-grid :nth-child(3) {
    -ms-grid-column: span 2;
        grid-column-start: span 2;
  }
}

@media (max-width: 767px) {
  .servicios .servicios-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    font-size: 17px;
  }
}

.servicios .servicios-grid .servi {
  background-color: #e6e7eb;
  border-radius: 10px;
  -webkit-box-shadow: 1px 6px 12px rgba(1, 1, 1, 0.8);
          box-shadow: 1px 6px 12px rgba(1, 1, 1, 0.8);
}

.servicios .servicios-grid .servi .content {
  padding: 16px;
}

.servicios .servicios-grid .servi .content h3 {
  padding-bottom: 3px;
}

.portfolio {
  padding-top: 64px;
  padding-bottom: 64px;
  background-color: #1A1C1A;
}

.portfolio .portfolio-grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  grid-gap: 16px;
  margin-bottom: 32px;
}

@media (max-width: 767px) {
  .portfolio .portfolio-grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

.portfolio .portfolio-grid .portfolio-item {
  border-radius: 16px;
  -o-object-fit: cover;
     object-fit: cover;
}

.portfolio .portfolio-grid .portfolio-item .content {
  height: 280px;
  color: #FFF;
  padding: 16px;
}

.portfolio .portfolio-grid .portfolio-item .content h3 {
  font-size: 32px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .portfolio .portfolio-grid .portfolio-item .content h3 {
    font-size: 28px;
  }
}

.portfolio .portfolio-grid .portfolio-item .content p {
  font-size: 20px;
  margin-bottom: 16px;
}

@media (max-width: 1024px) {
  .portfolio .portfolio-grid .portfolio-item .content p {
    font-size: 16px;
  }
}

.portfolio .center {
  text-align: center;
}

footer {
  background-color: #1b1a1a;
}

footer .container {
  padding: 20px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100px;
}

@media (max-width: 767px) {
  footer .container {
    font-size: 12px;
  }
}

footer .footer__redes__img {
  height: 30px;
  width: 30px;
}
/*# sourceMappingURL=style.css.map */